<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <div class="container">
    <%= link_to "BookUp!", root_path, class: "navbar-brand" %>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
        <% else %>
        <div class="d-flex">
          <%= link_to('Login', new_user_session_path, class: "nav-link mx-1") %>
          <%= link_to "Sign Up", new_user_registration_path , class: "nav-link mx-1" %>
        </div>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
